#lab_e_background {
    background-image: url("./images/lab_e_background.jpg");
}

.gif-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
}

.gif-container .gif {
    width: 18.75em;
    height: 18.75em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.625em; 
}

.gif-container .gif:last-child {
    margin-right: 0; 
}

.gif1 {
    background-image: url("./images/lab_e_gif.gif");
}

.gif2 {
    background-image: url("./images/lab_e_gif.gif");
}

.gif3 {
    background-image: url("./images/lab_e_gif.gif");
}

.jpg-container {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 28.125em;
}

.jpg-container .jpg {
    width: 28.125em;
    height: 28.125em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jpg {
    background-image: url("./images/lab_e_jpg.jpg"); 
}

.png-container{
    display: flex;
    justify-content: left;
    width: 100%;
    height:18.75em;
}

.png-container .png{
    width: 18.75em;
    height: 18.75em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.png{
    background-image: url("./images/lab_e_png.png");
}
